@import url('https://fonts.googleapis.com/css2?family=Sansita:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boxwidth{
  max-width: 100%;
  margin: 0 5em;
}

body{
  color: #fff;
  background: #1E231F;
}

.Nav{
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navigation ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

.navigation ul li{
  margin: 0.5em 0 0.5em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info{
  font-family: Sansita, sans-serif;
  font-size: 1.6em;
  border-radius: 50px;
  width: 2em;
  height: 2em;
  cursor: pointer;
}

.info:hover{
  background: rgba(255, 255, 255, 0.212);
}

.contact{
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo h1{
  font-family: Sansita;
}

.callicon{
  font-size: 2em;
}

@media all and (max-width: 480px){
  .boxwidth{
    margin: 0 1em;
  }
}